*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1100px;
  font-family: sans-serif, Raleway;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li, blockquote {
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
}
