.underline_link {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    height: 293px;
}

.header_logo {
    justify-self: center;
    display: block;
}

.header_logo img {
    width: 148px;
    height: 105px;
}

.nav_list {
    display: flex;
    gap: 13px;
    list-style: circle;
    font-size: 18px;
}

.nav_item {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
}

.nav_item::before {
    content: "o";
    margin-right: 12px;
    font-size: 0.7em;
}

.nav_item-first::before {
    content: none;
}

.contact_block,
.footer_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 24px;
}

.contact_block {
    justify-self: end;
    padding: 0 18px 3px;
}

.contact_link {
    max-height: 24px;
}

.contact_address {
    max-width: 240px;
    padding-top: 2px;
}

/* COVER */

.cover {
    position: relative;
    padding: 165px 50px 50px;
    color: #fff;
    background: center/cover no-repeat url("../images/cover.jpg");
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 0;
}

.cover_title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.title_left { text-align: left; }
.title_center { text-align: center; padding-left: 30px; }
.title_right { text-align: right; padding-left: 600px; }

.cover_desc {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding-top: 85px;
}

.cover_desc-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-right: auto;
}

.action_button {
    padding: 14px 32px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

/* LOTS */

.lots {
    margin-top: 185px;
    padding-left: 25px;
}

.lots_title {
    padding: 0 0 30px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots_list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.lots_item {
    width: 334px;
    min-height: 596px;
}

.card_link {
    display: block;
    height: 100%;
}

.card {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card_title {
    padding: 28px 0 0 19px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 2px;
    z-index: 1;
}

.card_text {
    padding: 0 20px 27px 19px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.card_film { background: center/cover no-repeat url("../images/card-lot-01.jpg"); }
.card_book { background: center/cover no-repeat url("../images/card-lot-02.jpg"); }
.card_art  { background: center/cover no-repeat url("../images/card-lot-03.jpg"); }

.lots_more {
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* ABOUT */

.about {
    margin-top: 155px;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 2fr;
    gap: 25px;
}

.about_logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo-img {
    width: 148px;
}

.about_col:last-child {
    padding-top: 100px;
}

.about_title {
    font-size: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.about_text {
    font-size: 20px;
    line-height: 1.2;
    max-width: 690px;
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 50px 90px;
}

.footer_nav {
    justify-self: center;
}

.footer_nav-list {
    list-style: none;
    text-align: center;
}

.footer_nav-link {
    font-size: 18px;
}

.footer_nav-link.active {
    text-decoration: none;
}

.footer_socials {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.social_icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
}
